/* Palette: https://coolors.co/3a405a-f9dec9-99b2dd-e9afa3-685044
 * #3a405a
 * #f9dec9
 * #99b2dd
 * #e9afa3
 * #685044
 */

body {
  background: #685044;
}

.container {
  background: #3a405a;
  width: 260px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.game-board {
  background: #3a405a;
  overflow: auto;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  height: 50px;
  width: 50px;
  font-size: 20px;
  float: left;
  text-align: center;
  border: 3px solid #3a405a;
  padding-top: 25px;
  background: #e9afa3;
  color: #3a405a;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.block:not(.empty, .disabled):hover {
  background: #f9dec9;
  cursor: pointer;
}

.block.empty {
  background: #685044;
  color: #685044;
}

.start-game {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  font-size: 20px;
}

p.status {
  color: white;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
