body {
  background: #111111;
}

.container {
  background: #555555;
  width: 420px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.game-board {
  background: #555555;
  overflow: auto;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  height: 50px;
  width: 50px;
  font-size: 20px;
  float: left;
  text-align: center;
  border: 3px solid #555555;
  padding-top: 25px;
  background: #DDDDDD;
  color: #555555;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.block:not(.empty):hover {
  background: #EEEEEE;
  cursor: pointer;
}

.block.empty {
  background: #555555;
  color: #555555;
}

.start-game {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
